<%= render "layouts/header"%>

<section class="w-7x1 bg-[#D9D9D9] py-24 px-0 mt-10">
    <div class="max-w-7x1 mx-auto">
    <h1 class="px-64 text-5xl">
        Conquiste o
    </h1 >
    <h1 class="px-64 text-5xl">
        trabalho 
    </h1>
    <h1 class="px-64 text-5xl">
        dos seus 
    </h1>
    <h1 class="px-64 text-5xl">
        sonhos
    </h1>
    </div>
     <div class="flex justify-evenly">
        <%= image_tag "main.png", class: "w-120 h-100"%>
        </div>
    </div class="bg-[#36454F]">
</section>

<div>
     <%@add_recently.each do |i|%>
    <li><%=i.name%></li>
    <li><%=i.category.label%></li>
    <%end%>
</div>

<%= render "layouts/footer"%>
<%# Partials permite a reutilização de código de views %>

