<%= render "layouts/header"%>

<section class="w-full bg-[#D9D9D9] py-12 px-0 mt-6">

    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 items-center gap-12 ">
    <div class="7x1 mx-auto grid grid-cols-1 md:grid-cols-2 items-center">
    <h1 class="md:text-5xl lg:text-5xl font-bold">
        Conquiste o <br>
        trabalho <br>
        dos seus<br>
        sonhos
    </h1>
    </div>

     <div class="">
        <%= image_tag "main.png", class:"w-150 h-120"%>
        </div class> 

    </div>
    </div>
</section>
<div class="flex justify-between items-center max-w-7xl mx-auto mt-12">
    <h1 class="font-semibold text-xl">
        Adicionados recentemente
    </h1>
</div>
<%= render "layouts/cards"%>

<div class="flex justify-center align-center m-12">
<%=button_to "Ver mais", job_index_path, method: :get, class: "bg-[#36454F] text-white px-6 p-[6px] rounded-sm"%>
</div>

<div class="text-sm flex items-center">
    <%# <%= link_to "job"%> 
</div>
<%= render "layouts/footer"%>
<%# Partials permite a reutilização de código de views %>

